# Hands-On Data Wrangling With Pandas

Fill `None` with your own answers

In [1]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [2]:
####  No need to edit this cell ####

# Imports
import pandas as pd
import matplotlib.pyplot as plt

# Config
pd.set_option('display.max_columns', None)

## About Data

Suppose we have a database, and we have three tables in that database.

1. Sales Table
    * Order ID
    * Order Date
    * Ship Date
    * Ship Mode
    * Customer ID
    * Product ID
    * Quantity
    * Discount
    * Profit
    
<br/>

2. Product Table
    * Product ID
    * Product Name
    * Category
    * Sub-Category

<br/>

3. Customer Table
    * Customer ID	
    * Customer Name	
    * Segment	
    * Country	
    * City	
    * State	
    * Postal Code	
    * Region	
    * Age

### Goals
1. Merge three tables into one
2. Data Cleaning and Manipulation
3. Draw some insights

### Reading from csv

In [4]:
# Read all three tables
sales_df = pd.read_csv("/content/sales.csv")
product_df = pd.read_csv("/content/product.csv")
customer_df = pd.read_csv("/content/customer.csv")

In [5]:
# Checking how much data has been loaded into memory
print(f"Loaded {sales_df.shape[0]} rows and {sales_df.shape[1]} columns from sales table")
print(f"Loaded {product_df.shape[0]} rows and {product_df.shape[1]} columns from product table")
print(f"Loaded {customer_df.shape[0]} rows and {customer_df.shape[1]} columns from customer table")

Loaded 9994 rows and 11 columns from sales table
Loaded 1862 rows and 3 columns from product table
Loaded 793 rows and 9 columns from customer table

### Taking a look at the data


There are multiple ways of accessing data in pandas:

* `head()`
* `tail()`
* `[]`
* `loc[row_idx, col_name]`
* `iloc[row_idx, col_idx]`

In [6]:
# Check column names
sales_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Product ID', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [7]:
# Head
sales_df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-BO-10001798,261.96,2.0,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-CH-10000454,731.94,3.0,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,OFF-LA-10000240,14.62,2.0,0.0,6.8714

In [8]:
# Tail
sales_df.tail(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,TEC-PH-10003645,258.576,2.0,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,OFF-PA-10004041,29.600,4.0,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,OFF-AP-10002684,243.160,2.0,0.0,72.9480

In [9]:
# One Column
sales_df[["Order ID"]]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [10]:
# Multiple Column
sales_df[["Order ID", "Ship Date"]]

            Order ID   Ship Date
0     CA-2016-152156  11/11/2016
1     CA-2016-152156  11/11/2016
2     CA-2016-138688   6/16/2016
3     US-2015-108966  10/18/2015
4     US-2015-108966  10/18/2015
...              ...         ...
9989  CA-2014-110422   1/23/2014
9990  CA-2017-121258    3/3/2017
9991  CA-2017-121258    3/3/2017
9992  CA-2017-121258    3/3/2017
9993  CA-2017-119914    5/9/2017

[9994 rows x 2 columns]

In [11]:
# loc
sales_df.loc[0:2, "Ship Date": "Customer ID"]

    Ship Date     Ship Mode Customer ID
0  11/11/2016  Second Class    CG-12520
1  11/11/2016  Second Class    CG-12520
2   6/16/2016  Second Class    DV-13045

In [12]:
# iloc
sales_df.iloc[0:2, 3:6]

    Ship Date     Ship Mode Customer ID
0  11/11/2016  Second Class    CG-12520
1  11/11/2016  Second Class    CG-12520

## Joining Tables

Order table has `Customer ID` and `Product ID`.

We will do two left joins:

* Order table and Product table on `Product ID`.
* Order table and Customer table on `Customer ID`.

In [13]:
# Left joining sales_df and product_df

sales_product = pd.merge(
    left=sales_df,
    right=product_df,
    how="left",
    on="Product ID"
)

# View merged dataframe
sales_product.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-BO-10001798,261.9600,2.0,0.00,41.9136,Bush Somerset Collection Bookcase,Furniture
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-CH-10000454,731.9400,3.0,0.00,219.5820,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,OFF-LA-10000240,14.6200,2.0,0.00,6.8714,Self-Adhesive Address Labels for Typewriters b...,Office Supplies
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310,Bretford CR4500 Series Slim Rectangular Table,Furniture
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2.0,0.20,2.5164,Eldon Fold 'N Roll Cart System,Office Supplies

In [20]:
# Left join sales_product and customer_df
all_df = pd.merge(
    left = sales_product,
    right = customer_df,
    how = "left",
    on = "Customer ID"
)

# View merged dataframe
all_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-BO-10001798,261.9600,2.0,0.00,41.9136,Bush Somerset Collection Bookcase,Furniture,Claire Gute,Consumer,United States,NaN,Kentucky,42420,South,47.0
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,FUR-CH-10000454,731.9400,3.0,0.00,219.5820,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Claire Gute,Consumer,United States,NaN,Kentucky,42420,South,47.0
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,OFF-LA-10000240,14.6200,2.0,0.00,6.8714,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,NaN
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310,Bretford CR4500 Series Slim Rectangular Table,Furniture,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,18.0
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2.0,0.20,2.5164,Eldon Fold 'N Roll Cart System,Office Supplies,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,18.0

## Datatype Correction
- Improved memory usage
- Better Comptatibility & Less Error during further processing and visualizations
- Faster data access

In [21]:
# Check columns names and their data types
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9495 non-null   object
 5   Customer ID    9994 non-null   object
 6   Product ID     9994 non-null   object
 7   Sales          9994 non-null   float64
 8   Quantity       9994 non-null   float64
 9   Discount       9994 non-null   float64
 10  Profit         9994 non-null   float64
 11  Product Name   9994 non-null   object
 12  Category       9652 non-null   object
 13  Customer Name  9994 non-null   object
 14  Segment        9994 non-null   object
 15  Country        9994 non-null   object
 16  City           9242 non-null   object
 17  State          9994 non-null   object
 18  Postal Code    9994 non-null   int64
 19  Region         9994 non-null   object
 20  Age            8597 non-null   float64
dtypes: float64(5), int64(2), object(14)
memory usage: 1.7+ MB

What columns need to be converted?

In [16]:
# Quantity
# Order Date
# Ship Date

In [22]:
# Columns which needs to be converted to datetime datatype
columns_to_convert_to_datetime = ["Order Date", "Ship Date"]

# For all columns that needs to be changed
for col in columns_to_convert_to_datetime:

    # Convert to datetime
    all_df[col] = pd.to_datetime(all_df[col], format="%m/%d/%Y")

In [23]:
# Convert to int
all_df["Quantity"] = all_df['Quantity'].astype("int")

In [25]:
# Check if datatype converted
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9495 non-null   object
 5   Customer ID    9994 non-null   object
 6   Product ID     9994 non-null   object
 7   Sales          9994 non-null   float64
 8   Quantity       9994 non-null   int64
 9   Discount       9994 non-null   float64
 10  Profit         9994 non-null   float64
 11  Product Name   9994 non-null   object
 12  Category       9652 non-null   object
 13  Customer Name  9994 non-null   object
 14  Segment        9994 non-null   object
 15  Country        9994 non-null   object
 16  City           9242 non-null   object
 17  State          9994 non-null   object
 18  Postal Code    9994 non-null   int64
 19  Region         9994 non-null   object
 20  Age            8597 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(12)
memory usage: 1.7+ MB

It is good to fix all data types, but not necessary. Sometimes while working with datetime data it is required to convert them into datetime datatype.

## Querying

`query()` allows us to pass string queries to pandas objects.

In [27]:
# Sales greater than 5000 and quanitity greater than 10
all_df.query("Sales > 5000 & Quantity > 10")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
9039,9040,CA-2016-117121,2016-12-17,2016-12-21,Standard Class,AB-10105,OFF-BI-10000545,9892.74,13,0.0,4946.37,GBC Ibimaster 500 Manual ProClick Binding System,Office Supplies,Adrian Barton,Consumer,United States,Phoenix,Arizona,85023,West,19.0

In [28]:
# Variables in query
sales_gt = 5000
quantity_gt = 10

# Sales greater than sales_gt and quantity greater than quantity_gt
all_df.query("Sales > @sales_gt & Quantity > @quantity_gt")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
9039,9040,CA-2016-117121,2016-12-17,2016-12-21,Standard Class,AB-10105,OFF-BI-10000545,9892.74,13,0.0,4946.37,GBC Ibimaster 500 Manual ProClick Binding System,Office Supplies,Adrian Barton,Consumer,United States,Phoenix,Arizona,85023,West,19.0

In [29]:
# Filter 'Second Class' Ship Mode
all_df.query("`Ship Mode` == 'Second Class'")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,FUR-BO-10001798,261.960,2,0.0,41.9136,Bush Somerset Collection Bookcase,Furniture,Claire Gute,Consumer,United States,NaN,Kentucky,42420,South,47.0
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,FUR-CH-10000454,731.940,3,0.0,219.5820,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Claire Gute,Consumer,United States,NaN,Kentucky,42420,South,47.0
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,OFF-LA-10000240,14.620,2,0.0,6.8714,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,NaN
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,OFF-ST-10000107,55.500,2,0.0,9.9900,Fellowes Super Stor/Drawer,Office Supplies,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084,West,31.0
18,19,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,OFF-AR-10003056,8.560,2,0.0,2.4824,Newell 341,Office Supplies,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9964,9965,CA-2016-146374,2016-12-05,2016-12-10,Second Class,HE-14800,FUR-FU-10002671,13.400,1,0.0,6.4320,Electrix 20W Halogen Replacement Bulb for Zoom...,Furniture,Harold Engle,Corporate,United States,Chicago,Illinois,60623,Central,NaN
9965,9966,CA-2016-146374,2016-12-05,2016-12-10,Second Class,HE-14800,OFF-PA-10000349,4.980,1,0.0,2.3406,Easy-staple paper,Office Supplies,Harold Engle,Corporate,United States,Chicago,Illinois,60623,Central,NaN
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,FUR-TA-10001039,85.980,1,0.0,22.3548,KI Adjustable-Height Table,Furniture,Shaun Weien,Consumer,United States,Suffolk,Virginia,23434,South,NaN
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,FUR-FU-10001889,25.248,3,0.2,4.1028,Ultra Door Pull Handle,Furniture,Tom Boeckenhauer,Consumer,United States,Seattle,Washington,98105,West,29.0
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,OFF-AP-10002684,243.160,2,0.0,72.9480,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Office Supplies,Chris Cortes,Consumer,United States,La Porte,Indiana,46350,Central,41.0

Querying can also be done by passing conditions in `[]`

In [30]:
# Profit greater than 1000
all_df[all_df["Profit"] > 1000].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
318,319,CA-2014-164973,2014-11-04,2014-11-09,Standard Class,NM-18445,TEC-MA-10002927,3991.980,2,0.0,1995.9900,Canon imageCLASS MF7460 Monochrome Digital Las...,Technology,Nathan Mautz,Home Office,United States,New York City,New York,10024,East,19.0
353,354,CA-2016-129714,2016-09-01,2016-09-03,First Class,AB-10060,OFF-BI-10004995,4355.168,4,0.2,1415.4296,GBC DocuBind P400 Electric Binding System,Office Supplies,Adam Bellavance,Home Office,United States,New York City,New York,10009,East,45.0
509,510,CA-2015-145352,2015-03-16,2015-03-22,Standard Class,CM-12385,OFF-BI-10003527,6354.950,5,0.0,3177.4750,Fellowes PB500 Electric Punch Plastic Comb Bin...,Office Supplies,Christopher Martinez,Consumer,United States,Atlanta,Georgia,30318,South,30.0
515,516,CA-2017-127432,2017-01-22,2017-01-27,Standard Class,AD-10180,TEC-CO-10003236,2999.950,5,0.0,1379.9770,Canon Image Class D660 Copier,Technology,Alan Dominguez,Home Office,United States,Houston,Texas,77041,Central,31.0
994,995,CA-2014-117639,2014-05-21,2014-05-25,Standard Class,MW-18235,OFF-BI-10003925,2715.930,7,0.0,1276.4871,Fellowes PB300 Plastic Comb Binding Machine,Office Supplies,Mitch Willingham,Corporate,United States,Virginia Beach,Virginia,23464,South,31.0

In [32]:
# Discount greater than 0.3 and less than 0.4
all_df[all_df["Discount"] > 0.3].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Profit,Product Name,Category,Customer Name,Segment,Country,City,State,Postal Code,Region,Age
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5,0.45,-383.0310,Bretford CR4500 Series Slim Rectangular Table,Furniture,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,18.0
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,OFF-AP-10002311,68.8100,5,0.80,-123.8580,Holmes Replacement Filter for HEPA Air Cleaner...,Office Supplies,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,27.0
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,OFF-BI-10000756,2.5440,3,0.80,-3.8160,Storex DuraTech Recycled Plastic Frosted Binders,Office Supplies,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,27.0
27,28,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,FUR-BO-10004834,3083.4300,7,0.50,-1665.0522,"Riverside Palais Royal Lawyers Bookcase, Royal...",Furniture,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East,34.0
28,29,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,OFF-BI-10000474,9.6180,2,0.70,-7.0532,Avery Recycled Flexi-View Covers for Binding S...,Office Supplies,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East,34.0

### Statistical Measure

In [33]:
# Show stat measures of all numeric columns
all_df.describe().drop("Row ID", axis=1)

,Sales,Quantity,Discount,Profit,Postal Code,Age
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,8597.000000
mean,229.858001,3.789574,0.156203,28.656896,55320.680608,39.201698
std,623.245101,2.225110,0.206452,234.260108,31471.270959,20.746213
min,0.444000,1.000000,0.000000,-6599.978000,1841.000000,4.000000
25%,17.280000,2.000000,0.000000,1.728750,27405.000000,28.000000
50%,54.490000,3.000000,0.200000,8.666500,55901.000000,35.000000
75%,209.940000,5.000000,0.200000,29.364000,90004.000000,43.000000
max,22638.480000,14.000000,0.800000,8399.976000,99207.000000,100.000000

In [34]:
# One columns at a time
all_df["Discount"].describe()

count    9994.000000
mean        0.156203
std         0.206452
min         0.000000
25%         0.000000
50%         0.200000
75%         0.200000
max         0.800000
Name: Discount, dtype: float64

In [35]:
# One measure at a time
all_df["Discount"].mean()

0.15620272163297977

### Duplicated Data

In [36]:
# Check for duplicates
all_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Length: 9994, dtype: bool

In [39]:
# Drop duplicated
all_df = all_df.drop_duplicates()
# all_df.drop_duplicates(inplace=True)

### Missing Data

In [40]:
# Check missing data
all_df.isna().sum()

Row ID              0
Order ID            0
Order Date          0
Ship Date           0
Ship Mode         499
Customer ID         0
Product ID          0
Sales               0
Quantity            0
Discount            0
Profit              0
Product Name        0
Category          342
Customer Name       0
Segment             0
Country             0
City              752
State               0
Postal Code         0
Region              0
Age              1397
dtype: int64

### Handling Missing Data

- Deletion

- Imputation
    - Mean
    - Median
    - Mode


- Prediction

- Categorical Encoding

- Domain-specific Knowledege

In [41]:
# Checking distribution of Ship Mode
all_df["Ship Mode"].value_counts()

Standard Class    5686
Second Class      1841
First Class       1464
Same Day           504
Name: Ship Mode, dtype: int64

In [42]:
# Fill by mode

# Get mode of `ship mode`
ship_mode_mode = all_df["Ship Mode"].mode()[0]

# Replace NaN/empty values with the mode
all_df["Ship Mode"].fillna(ship_mode_mode, inplace=True)

In [43]:
all_df.isna().sum()

Row ID              0
Order ID            0
Order Date          0
Ship Date           0
Ship Mode           0
Customer ID         0
Product ID          0
Sales               0
Quantity            0
Discount            0
Profit              0
Product Name        0
Category          342
Customer Name       0
Segment             0
Country             0
City              752
State               0
Postal Code         0
Region              0
Age              1397
dtype: int64

In [ ]:
# Same for `Category`

City is a bit unique because there can only be certain cities in certain states. To replace NaN values of city, we can choose the mode of cities in that state.


To fill missing values of city column, following steps can be followed:

1. Group the data by City and State and get the count.
2. For all missing values:
    * If the name of state in group value, get mode of city in that state
    * If not, return `Unknown`

In [47]:
# Groupby state and city and get count
state_df = all_df[["Row ID", "State", "City"]].groupby(["State", "City"])
state_df.count()

                      Row ID
State     City
Alabama   Auburn          22
          Decatur         29
          Florence        18
          Hoover          10
          Huntsville      14
...                      ...
Wisconsin Franklin         7
          Green Bay       31
          Kenosha         30
          Madison         25
          Milwaukee       51

[273 rows x 1 columns]

In [49]:
# Create a function that replaces missing city values

def replace_missing_city(row):

    # If `City` if empty
    if pd.isna(row['City']):
        
        # If 'State' in grouped df
        if row["State"] in state_df.index():
            return state_df.loc[row['State']].idxmax()[0]
        # If 'State' not in grouped df
        else:
            return "Unknown"

    # If not empty, return the same value
    else:
        return row['City']
    
# Apply
all_df['City'] = all_df.apply(replace_missing_city, axis=1)

AttributeError: ignored

In [ ]:
# Fill age by the median

# Get median of age
age_median = None

# Fill missing values with median

In [ ]:
# Check if all missing values have been handled

## Outliers

* Data points significantly different from other data points
* Could be because of measurement error, data entry error, extreme values in underlying population

Handling them:

* Removal
* Winsorization
* Transformation

Best ways to check for outliers are often visual plots.

In [ ]:
# For Age columns

# Checking distribution
plt.hist(None, bins=None);

In [ ]:
# Boxplot
plt.boxplot(None);

In [ ]:
# Create a function that removes outliers using IQR filtering

def remove_outliers(df_in: pd.DataFrame, col_name: str) -> pd.DataFrame:
    # First Quartile
    q1 = df_in[col_name].quantile(None)

    # Third Quartile
    q3 = df_in[col_name].quantile(None)
    
    # Interquartile range
    iqr = None - None

    minimum = q1 - 1.5 * iqr
    maximum = q3 + 1.5 * iqr

    # Filter data range in minimum and maximum
    df_out = df_in[(df_in[col_name] > None) & (df_in[col_name] < None)]

    return df_out

In [ ]:
age_outliers_removed = remove_outliers(all_df, 'Age')

### Drawing Insights from Data

* Top 10 most discounted products

In [ ]:
# Select -> Sort -> Index

* Most Product in each Category

In [ ]:
# Select -> Groupby -> Count

* Most Products ordered at once by a customer

In [ ]:
# Select -> Groupby -> Count

* Most popular product in each city according to units sold

In [ ]:
# Select -> Groupby -> Sum

* Which age group has purchased the most?

In [ ]:
# Creating a copy of dataframe with select columns
age_df = all_df[None]

age_df.head()

In [ ]:
# Group numeric age values in range

# Function to bin age in to groups

def bin_age(age: int):
    if age < 20:
        return "0-20"
    elif age >= 20 and age < 30:
        return "20-30"
    elif age >= 30 and age < 40:
        return "30-40"
    elif age >= 40 and age < 50:
        return "40-50"
    else:
        return "50+"

# Apply binning
age_df['Age'] = age_df['Age'].apply(bin_age)

In [ ]:
# Groupby -> Sum

* Orders and Sales per day

In [ ]:
# Select -> Groupby -> Sum
order_sales_per_day = None

In [ ]:
# Plotting
plt.figure(figsize=(15,5))
plt.plot(order_sales_per_day['Order Date'], order_sales_per_day['Quantity'])

In [ ]:
plt.figure(figsize=(15,5))
plt.plot(order_sales_per_day['Order Date'], order_sales_per_day['Sales'])